@import "../../common/_variables";

.container {
  background-color: transparent;
  //min-height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex; 
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
