@import "../../common/_variables";

.container {
  background-color: $primary-background;
  color: $primary-text;
  padding-top: 10rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}
