@import "../../common/_variables";

.container {
  padding: 1rem;
  padding-bottom: 5rem;
  display: flex; 
  flex-direction: column;
  text-align: center; 
  background-color: $primary-background;
}

.cards {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
