@import "../../common/_variables";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  //width: 100wh;
  color: #fff;
  background: url('./images/background-1.jpg');
  background-size: cover;
  background-position: center 0;

  /*  --- ANIMATED GRADIENT ---
  
  background: linear-gradient(-45deg, #003973, #e5e5be);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  
  */

  h2 {
    font-style: italic;
  }
}

/*  --- ANIMATED GRADIENT --- 

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*/

.logo {
  width: 75vw;
  height: 300px;
}

.svgcircle {
  position: absolute;
  bottom: 0;
  width: 20vw;
  height: 20vh;
  margin-bottom: -10vh;
}
