@import "../../common/_variables";

.container {
    background-color: $primary-background;
    color: $primary-text;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    /*h1 {
        margin: 0;
    }*/
    //font-size: 4rem;
    font-style: bold;
    font-weight: bold;
}