@import "../../common/_variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background: $primary-background;
}

.content {
  align-self: left;
}
