@import "../../common/_variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    background-color: $secondary-background;
    color: $secondary-text;
    height: 100vh;
    padding-left: 4rem;
    padding-right: 4rem;

    p {
        line-height: 1.5rem;
    }
}