@import "../../common/_variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border-radius: 10px;
  background-color: $card-background;
  color: $card-text-color;
  min-width: 200px;
  width: 40vw;
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;

  .stack {
    font-style: italic;
  }
}

.links {
  a {
    margin-right: 1rem;
    margin-left: 1rem;
    color: $card-links-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}


