@import "../../common/_variables";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: $card-background;
    //background-color: white;
    color: $card-text-color;
    //border-top: 2px solid $card-links-color;
    border-left: 2px solid $card-links-color;
    //border-right: 2px solid $card-links-color;
    //border-bottom: 2px solid $card-links-color;
    width: 80%;
    max-width: 75rem;
    padding: 1rem;
    margin: 1rem;

    .stack {
        font-style: italic;
    }
}


.links {
    a {
        margin-right: 1rem;
        margin-left: 1rem;
        color: $card-links-color;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}