@import "../../common/_variables";

.navbar {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  opacity: 0.9;
  top: 0;
  width: 100%;
}



.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: .5rem;

}

.icon {
  color: $icon-color;
  float: right;
  margin-right: 1.5rem;
  font-size: 2rem;
}

.icon:hover {
  color: $icon-hover-color;  
  transition: $icon-hover-transition;
}

