@import "../../common/_variables";

.navbar {
  background-color: $navbar-background;
  position: absolute;
  top: 0;
  width: 100%;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.5rem;
}

.icon {
  color: $primary-text;
  float: right;
  margin: 1rem;
  font-size: 2rem;
}

.icon:hover {
  color: $accent-text;
  transition: color .25s ease-in-out;
}


