$primary-text: #FFFFFF;
$secondary-text: #060807;
$third-text: #FFFFFE;
$accent-text: #2685D0;
$navbar-background: #000000;
$primary-background: #000000;
$secondary-background: #FAFAFA;
$third-background: #171717;

