$primary-text: #FFFFFF;
$secondary-text: #060807;
$primary-background: black;
$secondary-background: #FAFAFA;

$icon-color: #FFFFFF;
$icon-hover-color: #FAEDBD;
$icon-hover-transition: color .25s ease-in-out; 

$card-background: #171717; 
//$card-background: #333333;
$card-text-color: #FFFFFF;
$card-links-color: #FAEDBD;
